useDynLib( TumorSeg )
exportPattern("^[[:alpha:]]+")

#importFrom(): import selected functions (including S4 generics).
importFrom( "RNifti", "readNifti" )
importFrom( "tcltk", "tkProgressBar", "setTkProgressBar" )
importFrom( "arrayhelpers", "vec2array", "array2vec" )
importFrom( "MCMCpack", "riwish" )
importFrom( "MASS", "mvrnorm" )
